.headshot{
    margin: 0px 50px 30px 50px;
    width: 30%;
    height: 30%;
}

.emoji{
    display: inline-block;
    width: auto;
    height: 35px;
    margin: 0px 12px
}

.underline{
    border: none;
    display: block;
    background-color: #E18A8A;
    border-radius: 20px;
    width: 85%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 50px 0 0 0;
    display: inline-block;
}

.imageContainer{
    padding-top: 50px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.textContainer {
    margin: 0px 160px 100px 160px;
}