$primaryColor: #D35555;
$secondaryColor: #252525;

.text {
    color: $secondaryColor;
}

.textContainer {
    position: relative;
    padding: 20px 0 0 10%;
}

.icon {
    width: 75px;
    height: auto;
    padding: 20px 20px 10px 0px;
}

.emoji {
    display: inline-block;
    width: auto;
    height: 35px;
    margin: 0px 12px
}

.underline{
    border: none;
    display: block;
    background-color: #E18A8A;
    border-radius: 20px;
    width: 85%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 50px 0 0 10%;
}

@media screen and (max-width: 780px) {

    .container {
        position: relative;
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }

    .emoji{
        //display: inline-block;
        width: auto;
        height: 35px;
        display: flex;
        //margin: 0px 12px
    }

}