$primaryColor: #D35555;
$secondaryColor: #252525;
$pinkBackground: #FFE9E2;
$mainWhite: #fff;

.underline{
    border: none;
    background-color: #E18A8A;
    border-radius: 20px;
    height: 8px;
}

  .content {
      padding-top: 2%;
      width: 90%;
      margin: auto;
  }

  .image-container {
      position: relative;
      background-color: white;
      display: block;
      padding-top: 80px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 220px;

      .top-left {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        padding-top: 0px;
        padding-left: 90px;
        padding-right: 600px;
        padding-bottom: 200px;
    }

    .h-container {
        background-color: white;
        display: block;
        position: relative; 
        padding-top: 50px;
        max-width: 400px;
        width: 100%;
    }

    .header{
        position: relative;
        max-width: 200px;
        width: 100%;
    }

    .hero-image {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        width: 90%;
        height: auto;
      }
  }

.sub-title {
    font-size: 2vw;
}

.workTitle {
    margin: 50px 0px 0px 10px;
    font-size: 20px;
    font-weight: 600;
    color: #E18A8A;
}

.work {
    margin: 20px 50px 0px 10px;
    font-size: 18px;
    color: $secondaryColor;
}

.pink {
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.white {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

.MB {
    margin: 20px 0px 0px 10px;
    width: 22%;
    height: auto;
}

.Loblaw {
    margin: 20px 0px 0px 10px;
    width: 12%;
    height: auto;
}

.CBN {
    margin: 20px 0px 0px 10px;
    width: 10%;
    height: auto;
}

.text {
    margin: 0px 140px 0 140px;
}

.block {
    padding-top: 60px;
    padding-left: 0px;
    padding-bottom: 50px;
    background-color: white;
}

.job {
    margin: 30px 0px 0px 10px;
    width: 60%;
    height: auto;
}
  