$primaryColor: #D35555;
$secondaryColor: #252525;
$pinkBackground: #FFE9E2;
$mainWhite: #fff;

.wrapper {
    position: relative;
    height: 0;
    /* Formula is: (height / width * 100%) */
    padding-top: calc(1732 / 4456 * 100%);
  }

  .image-container {
      position: relative;
      background-color: white;
      //display: inline-block;
      //margin: 0 auto;
      padding-top: 90px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 100px;

      .top-left {
        position: absolute;
        background-color: white;
        //margin: 0 auto;
        // padding-left: 10%;
        // right: 0;
        // padding-top: 25%;
        padding-top: 0px;
        padding-left: 90px;
        padding-right: 600px;
        padding-bottom: 200px;
    }

    .h-container {
        background-color: white;
        display: block;
        position: relative; 
        max-width: 350px;
        width: 100%;
    }

    .header{
        position: relative;
        max-width: 200px;
        width: 100%;
    }

    .hero-image {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        //padding-top: 50px;
        left: 0;
        //min-width: 650px;
        //min-height: 200px;
        width: 90%;
        height: auto;
      }
  }

.sub-title {
    //font-size: 24px;
    font-size: 2vw;
}

.workTitle {
    margin: 50px 50px 0px 50px;
    font-size: 20px;
    font-weight: 600;
    color: $primaryColor;
}

.work {
    margin: 20px 50px 0px 50px;
    font-size: 18px;
    color: $secondaryColor;
}

.pink {
    padding-top: 300px;
    padding-bottom: 100px;
    padding: 40px;
    background-color: $pinkBackground;
}

.logo {
    width: 200px;
    height: auto;
}

.text {
    margin: 0px 150px;
}

.block {
    padding-top: 60px;
    padding-left: 0px;
    padding-bottom: 50px;
    background-color: white;
}
  