$primaryColor: #d35555;
$secondaryColor: #252525;
$pinkBackground: #ffe9e2;
$mainWhite: #fff;

.header {
    color: $primaryColor;
    position: relative;
    height: 50px;
}

.nav-container {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;

    li {
        letter-spacing: 0.02em;
        background: none;
        padding: 14px 14px 14px 14px;
        font-size: 18px;
        list-style: none;
    }
}

.nav-list {
    margin: 0;
    display: flex;
    flex-flow: wrap;
    padding: 0 14px 0 0px;
    list-style: none;

    li {
        letter-spacing: 0.02em;
        background: none;
        padding: 14px 14px 14px 14px;
    }

    a {
        color: $secondaryColor;
        font-size: 18px;

        &:hover {
            color: $primaryColor;
        }
    }

    .active-menu-item {
        color: $primaryColor;
    }
}

.logo {
    color: $primaryColor;
    font-weight: 600;
    padding-left: 14px;
}

@media screen and (max-width: 600px) {

    .nav-container {
        justify-content: center;

        li {
            letter-spacing: 0.02em;
            background: none;
            padding: 14px 14px 14px 14px;
            font-size: 14px;
        }
    }

    .nav-list{
        padding: 0px 0px 0px 0px;
        li {
            letter-spacing: 0.02em;
            background: none;
            padding: 14px 14px 14px 5px;
        }
        a {
            font-size: 14px;
        }
    }

    .logo {
        color: $primaryColor;
        font-weight: 600;
        padding-left: 0px;
    }

    .header {
        height: 45px;
    }
}