$primaryColor: #d35555;
$secondaryColor: #252525;
$pinkBackground: #ffe9e2;
$mainWhite: #fff;

.header {
    color: $primaryColor;
    position: relative;
    height: 50px;
}

.nav-container {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.nav-list {
    margin: 0;
    display: flex;
    flex-flow: wrap;
    padding: 0 14px 0 0;
    list-style: none;

    li {
        letter-spacing: 0.02em;
        background: none;
        padding: 14px 14px 0px;
    }

    a {
        color: $secondaryColor;
        font-size: 18px;

        &:hover {
            color: $primaryColor;
        }
    }

    .active-menu-item {
        color: $primaryColor;
    }
}

.logo {
    letter-spacing: 0.02em;
    background: none;
    padding: 14px 14px 10px 28px;
    color: $primaryColor;
    font-weight: 500;
    font-size: 23px;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
/* @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  } */
